.main {
  height: calc(100% - 128px);
  flex-shrink: 0;
  display: flex;
  justify-content: center;
}
.main_title {
  max-width: 1240px;
  text-align: left;
}

.container {
  width: 100%;
  max-width: 1240px;

  margin-left: 2%;
  margin-right: 2%;

  display: flex;
  flex-direction: column;
  margin-top: 40px;

  /* flex-wrap: nowrap; */
  /* justify-content: space-between; */
}
.wrapper {
  width: 100%;
  max-width: 1240px;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.mainSection {
  box-sizing: border-box;

  max-width: 600px;
  width: 100%;
}

.card {
  background: linear-gradient(0deg, #1c1c21, #1c1c21);
  box-shadow: 0px 0px 1px 0px #0000000a;
  box-shadow: 0px 0px 2px 0px #0000000f;
  box-shadow: 0px 4px 8px 0px #0000000a;
  border-radius: 40px;
  width: 584px;
  min-height: 214px;
  margin-top: 20px;

  display: flex;
  flex-direction: column;
}

.topPanel {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}

.card__Price {
  display: flex;
  align-items: center;
}
.card__Name {
  margin-top: 24px;
  text-align: left;
  /* height: 30px; */
}
.card__CreatedAt {
}
.card__Ingredients {
  overflow-x: scroll;
  scrollbar-width: thin;
  scrollbar-color: #8585ad #1c1c21;
  width: 436px;
  height: 64px;
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.card__bottomPanel {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  margin-bottom: 24px;
}

.card__Wrapper {
  margin-left: 24px;
  margin-right: 24px;
}

.card__PictureBorder {
  box-sizing: border-box;
  height: 64px;
  width: 64px;
   position: absolute; 
  border-radius: 50%;
  border: 2px solid transparent; /*2*/
  background: linear-gradient(63.18deg, rgb(128, 26, 179), rgb(76, 76, 255))
    border-box; /*3*/
  -webkit-mask: /*4*/ linear-gradient(#fff 0 0) padding-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor; /*5'*/
  mask-composite: exclude; /*5*/
}
.card__Picture {
  height: 64px;
  width: 64px;
  border-radius: 50%;
  position: absolute;
  background-color: black;
}
.card__Placeholder {
  height: 64px;
  width: 64px;
 
}
