.title {
  max-width: 600px;
  min-height: 40px;
  margin-top: 40px;

  /* interface/accent */
  /* border: 1px dashed #4c4cff; */
}

.tabs {
  display: flex;
  margin-top: 20px;
  max-width: 600px;
  min-height: 56px;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.tabs div {
  flex: none;
  max-width: 200px;
  flex-grow: 1;
  box-sizing: border-box;
  margin-bottom: 40px;
}

.groupsList {
  overflow-y: scroll;
  height: calc(100% - 230px);
}

.ingredientGroup__cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 24px;
}

.ingredient__price {
  padding-left: 2px;
  padding-right: 9px;
}

/* Works on Firefox */
.groupsList {
  scrollbar-width: thin;
  scrollbar-color: #8585ad #131316;
}

/* Works on Chrome, Edge, and Safari */
.groupsList::-webkit-scrollbar {
  width: 8px;
}

.groupsList::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px #131316;
}

.groupsList::-webkit-scrollbar-thumb {
  background-color: #8585ad;
  /* outline: 1px solid slategrey; */
}
