.ingredient__Card {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 272px;
  height: 208px;
  margin-bottom: 40px;
  cursor: pointer;
}

.ingredient__Picture {
  width: 240px;
  height: 120px;
}

.ingredient__price {
  padding-left: 2px;
  padding-right: 9px;
}

.ingredient__priceBox {
  display: flex;
  flex-direction: row;

  height: 24px;
}

.ingredient__name {
  width: 272px;
  height: 48px;
  text-align: center;
}

.ingredient__counter {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0px;
  right: 0px;
  width: 32px;
  height: 32px;
  background-color: #4c4cff;
  border-radius: 50%;
}
