.burgerParts{
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  max-height: calc(100% - 135px);

  }

.inredientList {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: scroll;
  min-height: 80px;
}



/* Works on Firefox */
.inredientList {
  scrollbar-width: thin;
  scrollbar-color: #8585ad #131316;
}

/* Works on Chrome, Edge, and Safari */
.inredientList::-webkit-scrollbar {
  width: 8px;
}

.inredientList::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px #131316;
}

.inredientList::-webkit-scrollbar-thumb {
  background-color: #8585ad;
}


